.App {
  text-align: center;
  padding-bottom: 100px;
}

/*keyframes defined globally here to bypass material ui keyframes issues*/
@keyframes enter {
  0% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.header_container {
  position: relative;
  background-image: url("./media/mapComponentMedia/africa_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 395px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header_container::after {
  content: " ";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: #0000005c;
  mix-blend-mode: overlay;
}

.container_header_title {
  position: relative;
}

.header_title::before {
  content: "";
  /* background: linear-gradient(79deg, beige, #fedb00de, beige); */
  background: linear-gradient(185deg, #f5f5dc70, #fedb00ba, #f5f5dcfc);
  border-radius: 2px 7px 7px 6px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 141%;
  width: 100%;
  mix-blend-mode: color;
  transform: rotate3d(14, 0, 0, 48deg);
}

.header_title {
  color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, white, #ffffffe8);
  width: 88%;
  background-image: url("../src/media/mapComponentMedia/family_tree.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1000;
  font-size: 3rem;
  text-shadow: -2px -2px 0px #00000047;
  margin: 0;
  transform: translateY(8px);
  background-position: -20px -3px;
}

@media screen and (min-width: 480px) {
  .App {
    padding-bottom: 100px;
  }
  .header_container {
    height: 158px;
  }
  .header_title {
    width: 28%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header_container {
    height: 411px;
  }
  .header_title {
    width: 54%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header_container {
    /* height: 285px; */
  }
  .header_title {
    width: 49%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .App {
    padding: 0 3px 100px;
    background-color: beige;
  }
  .header_container {
    /* height: 158px; */
  }
  .header_title {
    width: 32%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header_container {
    justify-content: flex-start;
  }
  .header_title {
    margin: 30px 1px 80px;
  }
}
@media only screen and (min-width: 1440px) {
  .App {
    padding: 0px 27px 100px;
  }
  .header_container {
    height: 321px;
  }
  .header_title {
    width: 28%;
  }
}
@media only screen and (min-width: 1600px) {
  .App {
    padding: 0px 27px 100px;
  }
  .header_title {
    width: 20%;
  }
}
