.infoWindowContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../media/mapComponentMedia/savannah.jpg);
  background-size: cover;
  /* width: 200px;
  height: 400px;
  padding: 25px 0; */
  position: relative;
  isolation: isolate;
}
.infoWindowContainer::after {
  content: " ";
  background: #000000b5;
  position: absolute;
  inset: 0;
  z-index: -1;
}
.overlayContainer {
  min-width: 230px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.title {
  /*color from material ui theme.palette.primary.main*/
  color: rgb(215, 136, 0);
  text-shadow: 7px 6px 2px rgb(0 0 0 / 40%);
}
.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.displayImage {
  height: 150px;
  width: 150px;
  border-radius: 8px;
}
.imgAttributionContainer {
  padding: 0px 10px;
}
.imgAttribution {
  /*color from material ui theme.status.darkerLink*/
  color: white;
  font-size: 0.5rem;
}
.anchor {
  text-decoration: none;
}

.infoLinesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 10px;
  background: #ffe4c447;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: inset 1px 1px 19px 5px rgb(213 152 0 / 8%);
  border: 5px rgb(255 255 255 / 24%);
  border-style: ridge;
  margin: 20px 0px;
}
.infoLines {
  /*color from material ui theme.palette.background.default*/
  color: #f5f5dc;
  display: flex;
  align-items: center;
  box-shadow: rgb(215 136 0 / 8%) 10px 2px 20px 5px;
  background-color: rgb(215 136 0 / 8%);
}
.itemProps {
  /*color from material ui theme.palette.primary.main*/
  color: rgb(215, 136, 0);
  font-size: 1rem;
  padding-left: 6px;
  white-space: nowrap;
}
.speciesText {
  font-style: italic;
}

.moreInfoLink {
  /*color from material ui theme.status.clickLink*/
  color: #b1fde3;
  font-size: 1rem;
  padding-left: 6px;
}

.gm-ui-hover-effect {
  /*color from material ui theme.palette.primary.main*/
  background-color: rgb(215, 136, 0) !important;
  border-radius: 50% !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .displayImage {
    height: 200px;
    width: 200px;
    border-radius: 8px;
  }
  .title {
    font-size: 2.3rem;
  }
  .infoLinesContainer {
    border: 5px rgb(255 255 255 / 24%);
    border-style: ridge;
  }
  .itemProps {
    font-size: 1.25rem;
  }
  .imgAttribution {
    font-size: 0.75rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .imgAttributionContainer {
    width: 90%;
  }
  .infoLinesContainer {
    min-width: 80%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
